<!DOCTYPE html>
<html>
<head>
<meta charset='utf-8'>
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="css/unit_template_styles.css">
   <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
   <script src="js/unit_template_script.js"></script>
   <title>Unit</title>
</head>
<body>

<h1>Unit Title</h1>


<div>
        <ul class="sidebar" style="float:left">
          <li><a class="sidebar" href="#Item1">Item1</a></li>
          <li><a class="sidebar" href="#Item2">Item2</a></li>
          <li><a class="sidebar" href="#Item3">Item3</a></li>
          <li><a class="sidebar" href="#Item4">Item4</a></li>
        </ul>
<div id='cssmenu'>
<ul>
   <li class='active'><a href='#'><span>Theory</span></a></li>
   <li class='has-sub'><a href='#'><span>Theory1</span></a>
      <ul>
         <li class='has-sub'><a href='#'><span>List of principles </span></a>
             <ul>
                <li><a href='#'><span>principles1 </span></a></li>
                <li><a href='#'><span>principles2</span></a></li>
                <li><a href='#'><span>principles3</span></a></li>
            </ul>
         </li>
       
         <li class='has-sub'><a href='#'><span>List of Practice </span></a>
             <ul>
                <li><a href='#'><span>Practice1 </span></a></li>
                <li><a href='#'><span>Practice2 </span></a></li>
                <li><a href='#'><span>Practice3</span></a></li>
            </ul>
         </li>
        
      </ul>
   </li>
   <li class='has-sub'><a href='#'><span>Theory2</span></a>
      <ul>
         <li><a href='#'><span>List of principles </span></a>
             <ul>
                <li><a href='#'><span>principles1 </span></a></li>
                <li><a href='#'><span>principles2</span></a></li>
                <li><a href='#'><span>principles3</span></a></li>
            </ul>
         </li>
       
         <li class='has-sub'><a href='#'><span>List of Practice </span></a>
             <ul>
                <li><a href='#'><span>practice1 </span></a></li>
                <li><a href='#'><span>practice2 </span></a></li>
                <li><a href='#'><span>practice3</span></a></li>
            </ul>
         </li>
         
      </ul>
   </li>
   
</ul>
</div> 
    <div class="blocktext">
    <div class="image"><img src="#" alt="test" width="500" height="200"></div>
    Unit Content
     <div class="image"><img src="#" alt="test2" width="500" height="200"></div>
    </div>
    
</div>
<br/>
<br/>
<div> <font size="20"> Related Material </font>
    <div>
        <font size="6"> Videos </font>
        <br />
        <br />
        <table> 
            <tr><iframe width="210" height="170" src="https://www.youtube.com/embed/E4vpDeyqEN4" frameborder="3" allowfullscreen></iframe></tr>
            <tr>     </tr>
            <tr><iframe width="210" height="170" src="https://www.youtube.com/embed/ZISdTPrtS0o" frameborder="3" allowfullscreen></iframe></tr>
        </table>
    </div>
    <div> 
        <font size="6"> Blogs </font>
        <ul>
                <li><a href='#'><span>Blog link1 </span></a></li>
                <li><a href='#'><span>Blog link2 </span></a></li>
                <li><a href='#'><span>Blog link3</span></a></li>
        </ul>
    </div>
    
    
</div>
<footer>
  <p>Footer</p>
  <p>Contact information: <a href="mailto:someone@example.com">someone@example.com</a>.</p>
</footer>

</body>
</html>
